@use "sass:math";

$html-font-size: 16px;

@function stripUnit($value) {
    @return math.div($value, $value * 0 + 1);
}

@function rem($pxValue) {
    @return #{math.div(stripUnit($pxValue), stripUnit($html-font-size))}rem;
}

//Color Vars

$color-white: #ffffff;
$color-black: #000000;

$color-theme-orange: #ED4C2F;
$color-content: #374254;
$color-orange: #ef4a23;
$color-red: #ff0000;
$color-danger: #ff4d4f;
$color-error: #f03737;

// theme-variables
$dark-gray: #323C47;

//Font Family
$font-primary: 'DIN2014',
sans-serif;
$font-secondary: 'Brandon-Grotesque',
sans-serif;

//Font Weight
$font-weight-regular : 400;
$font-weight-medium : 500;
$font-weight-bold : 600;


$success-color: #28a745;